Package: com.eolnmsuk.netshield
Name: NetShield2
Version: 2.2.8-1+hosts2
Architecture: iphoneos-arm64
Description: Control app internet access with permission notifications, saved rules and connection monitoring.
Maintainer: EolnMsuk
Author: EolnMsuk
Section: Networking
Conflicts: com.netshield.tweak
Replaces: com.netshield.tweak
Homepage: https://github.com/EolnMsuk/NetShield2/
Depends: firmware (>= 15.0), firmware (<< 19.0), uikittools
Icon: https://raw.githubusercontent.com/EolnMsuk/NetShield2/HEAD/App/Resources/Icon.png
Depiction: https://github.com/EolnMsuk/NetShield2/#readme
SileoDepiction: https://raw.githubusercontent.com/EolnMsuk/NetShield2/HEAD/depiction.json
